<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            <ion-label>Account settings</ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-avatar slot="start" class="red-bg">
              <ion-icon name="log-out-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Log out</h2>
              <p>Farewell dear friend</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
