<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>Explore</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <app-product-collection [data]="ads" [textShadow]="false"></app-product-collection>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-item lines="none" class="section">
          <ion-text color="dark">
            <h5>Recently Listed</h5>
          </ion-text>
          <ion-button
            slot="end"
            fill="clear"
            size="small"
            shape="round"
            color="primary"
            [routerLink]="['/tabs/shop']"
          >
            See All
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <!-- Slides -->
        <ion-slides [options]="slideConfig">
          <ion-slide *ngFor="let item of products.slice().reverse() | slice:0:5">
            <app-product-card [product]="item" [routerLink]="['/details', item.id]"></app-product-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
